extends layout

block content
  h1= title
 
  - let Output = [{LibraryName: "OS Library",Timings:"9AM-4PM" ,place:"ColdenHall"},{LibraryName: "Public Library",Timings:"7AN-3PM" ,place: "Kansas"},{LibraryName: "PK Library",Timings:"10AM-5PM" ,place: "Maryville"}] 

  div.container-fluid
    div.row
        each Library , index in Output
            div.col-sm-2
                p Library Name: #{Library.LibraryName}
                p Timings  : #{Library.Timings}
                p Place : #{Library.place}